/*configurações iniciais*/
* {
    margin: 0px;
    padding: 0px;
}

/*altera as fontes do documento*/
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.containercabecalho {

    margin: 0 10% 0 10%;
    /*insere borda em container_cabecalho*/
    border: 1px solid #ccc;
    /*altera a largura*/
    width: 100%;
    /*altera a altura*/
    max-height: 210px;
    /*Insere a propriedade display flex. Quando	colocamos	essa propriedade
    em	um	elemento,	esse	elemento	se	torna	um	flex	container,
    a	partir	daí	podemos	manipular todos	os	elementos	filhos	desse	
    flex	container	com	propriedades	novas. Essas	propriedades	
    devem	ser usadas	no	elemento	que	é	um	flex	container.*/

    display: flex;
    /*alinha os itens da coniatiner_cabacalho em linha*/
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;


}

/**/
/*altera as propriedades da imagemcabecalho*/
.imagemcabecalho {
    width: 200px;
    height: 200px;
    margin: 0 10% 0 10%;
    padding: 10px;
}

/*altera as propriedades do container*/
.container {
    /*insere a propriedade flex*/
    display: flex;
    /*alinha os itens na horizontal*/
    flex-direction: row;
    /*Essa	propriedade	ajusta	verticalmente	os	elementos	filhos	do	flex	container
    Os	elementos	ficam	todos	alinhados	com	o	meio	do	flex	container
    */
    align-items: center;
    /*Essa	prorpiedade	ajusta	horizontalmente	os	elementos	filhos	do	flex	container. 
    space-around:	Cada	elemento	fica	com	um	espaçamento	igual	em	volta	dele	mesmo.*/
    justify-content: space-around;
    margin: 2pt;
    border: 1px solid #ccc;
    max-width: 200px;
    padding: 10px;
}

.imagemtexto1 {
    width: 200px;

}

.imagemtexto2 {

    width: 200px;
}

/**/
/**/